.all {
	font-size: 150%;
	border-radius: 15px;
	padding: 10px 10px 10px 10px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-top: 30px;
	display: none;

}
#main {
	width: 500px;
	height: 300px;
	background-color: black;

	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;

}
#search_inp {
	padding: 12px 20px;
	margin: 8px 0;
	font-size: 150%;
	border: 2px solid cyan;
	border-radius: 25px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	transition-duration: 0.2s;
}
#search_but {
	border: 2px solid cyan;
	cursor: pointer;
	font-size: 150%;
	border-radius: 15px;
	padding: 10px 10px 10px 10px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: cyan;
	background-color: white;
	transition-duration: 0.2s;
}
#welcome {
	font-family: 'Merienda One', cursive;
	color: cyan;
	font-size: 500%;
	text-align: center;
	transition-duration: 0.2s;
}
/* latin */
@font-face {
	font-family: 'Merienda One';
	font-style: normal;
	font-weight: 400;
	src: local('Merienda One'), local('MeriendaOne-Regular'), url(font-welcome.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
#search_inp:focus {
	
}